.places {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.places h1 {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 15px;
    width: 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}
 .price_by_night {
     display: flex;
     justify-content: center;
     align-items: center;
     border: 5px #FF5A5F solid;
     min-width: 60px;
     font-size: 30px;
     border-radius: 50%;
     width: 100px;
     height: 100px;
     position: relative;
     margin-bottom: 30px;
     margin-top: -100px;
     margin-left: 292px;
     color: #FF5A5F;
 }

 .information {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80px;
     border-top: 1px #DDDDDD;
     border-bottom: 1px #DDDDDD;
     border-left: 0px #DDDDDD;
     border-right: 0px #DDDDDD;
     border-style: solid;
     width: 100%;
 }

 .information_bath {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 80px;
 }

 .information_bed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 80px;
 }

 .information_group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 10px;

 }

 .max_gest {
     margin-bottom: 5px;
     margin-top: 75px;
     margin-left: 5px;
     width: 100px;

 }

 .number_rooms {
     width: 100px;
     margin-bottom: 5px;
     margin-top: 75px;
     margin-left: 5px;
 }

 .number_bathrooms {
     width: 100px;
     margin-bottom: 5px;
     margin-top: 75px;
     margin-left: 5px;
 }

 .information p {
     width: 80px;
 }
