.places {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.places h1 {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 15px;
    width: 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}
 .price_by_night {
     background-color: #FF5A5F solid;
     border: 4px #FF5A5F ;
     min-width: 60px;
     height: 60px;
     font-size: 30px;
     border-radius: 50%;
 }

 .information {
     height: 80;
     border-top: 1px #DDDDDD;
     border-bottom: 1px #DDDDDD;

 }
